<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    <title>Online Shopper</title>
    
  </head>
  <body>
    <% include ../partials/navbar %> 
    <div id="container" class="fluid">
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
            <div class="row">
            </div>
          <div class="row">
            <% for( let i = 0; i < mainProduct.length; i++ ) { %>
              <div class="col-md-4" style="width:20rem;">
                <div class="card">
                  <img
                    src="<%=mainProduct[i].image%>"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><%= mainProduct[i].name %> </h5>
                    <p class="card-text">
                      <%= mainProduct[i].description %> 
                    </p>
                  </div>
                </div>
              </div>
            <% } %>
            
        </div>
      </main>
    </div>
  
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>